.site-body {
  height 100vh
  max-height: 100vh
  display flex
}

.header-main-wrap {
  flex-grow 1
  overflow hidden
  display flex
  flex-direction column
}

.main {
  position relative
  flex-grow 1
  overflow-y auto
  padding (30 / 16)rem (40 / 16)rem
  background-color #fafafa
}