@import "../../../styl/functions/px-to-rem.styl"
.nav-link {
  padding px(11.5) px(20)
  box-sizing border-box
  display flex
  min-height (50 / 16)rem
  align-items center
  text-decoration: none
  color: #666666
  font-family Roboto;
  font-size px(14)
}

.nav-link__icon {
  font-size px(21)
  margin-right px(15)
}

.nav-link__badge {
  width 25px
  height 25px
  background-color #fefb1e
  border 1px solid #e0dd1c
  border-radius 50%
  display flex
  align-items center
  justify-content center
  color #333333
  font-size px(13)
  margin-left: auto
  margin-right: px(10)
}