.default-input {
  font-family: 'Roboto', sans-serif
  box-sizing border-box
  border none
  background none
  color #333333
  width 100%
  font-size (13 / 16)rem
  &::placeholder {
    font-family 'Roboto'
    color #333333
    font-size (13 / 16)rem
  }
}

.default-textarea {
  font-family: 'Roboto', sans-serif
  box-sizing border-box
  border none
  resize none
  outline none
  background none
  color #333333
  width 100%
  min-height (150 / 16)rem
  max-height (200 / 16)rem
  font-size (13 / 16)rem
  &::placeholder {
    font-family 'Roboto'
    color #333333
    font-size (13 / 16)rem
  }
}