.site-header {
  position relative
  z-index 1
  display flex
  padding 0 (45 / 16)rem
  min-height (70 / 16)rem
  justify-content space-between
  align-items center
  background-color #2196f3
  transition .3s
  box-shadow 0 (3 / 16)rem (6 / 16)rem 0 #909090
}

.site-header__theme-inbox {
  background-color #2196f3
}

.site-header__theme-sent {
  background-color #0f9d58
}

.site-header__theme-spam {
  background-color #d23f31
}

.site-header__theme-trash {
  background-color #999999
}