.expansion-panel-list .expansion-panel {
  border-bottom (1 / 16)rem solid #ffffff
}

.expansion-panel-list .expansion-panel:last-child {
  border-bottom (1 / 16)rem solid #cfcfcf
}

.expansion-panel-list .expansion-panel .expansion-panel__header {
  border-bottom (1 / 16)rem solid #ffffff
}

.expansion-panel-list .expansion-panel.opened .expansion-panel__header {
  border-bottom (1 / 16)rem solid #cfcfcf
}
.expansion-panel-list__title {
  color #666666
  margin (12 / 16)rem (22 / 16)rem
  display block
  font-size (14 / 16)rem
}